* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: cornflowerblue;
}

#header {
    background: rgb(241, 162, 14);
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0px;
}

#logo {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo > #header-img {
    width: 20%;
}

#logo > #text-logo {
    display: inline-block;
    font-size: 0.8em;
    transform: scaleY(1.25);
    color: black;
}

#nav-bar {
    width: 30%;
    padding: 2% 0%;
}

#nav-bar > #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: black;
}

#inicio {
    padding-top: 100px;
}

#inicio > #form {
    width: 90%;
    margin: auto;
    padding: 1% 0%;
    text-align: center;
}

#form #email {
    text-align: center;
}

#section-servicios, #section-ofertas {
    padding-top: 73px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.titulo-seccion {
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    text-decoration: underline;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-top: 6%;
}

.servicio-imagen {
    width: 100px;
    height: 100px;
}

.contacto-imagen {
    width: 50px;
}

#video {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 3% 0%;
}

.oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin: 3% 0%;
    border-radius: 20px;
    text-align: center;
}

.nombre-oferta {
    background-color: black;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 2% 0%;
    font-weight: bold;
}

.descripcion-oferta li{
    padding: 3% 0%;
    list-style: circle;
}

.precio-oferta {
    font-size: 2.0em;
}

.boton-oferta {
    margin-bottom: 3%;
}

#section-contacto {
    padding-top: 73px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: slateblue;
}

#medios-de-contacto .contenedor-contacto {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
}

#copyright {
    font-size: 1.0em;
    font-weight: bold;
}

@media (min-width: 600px) {

    .servicios {
        flex-direction: row;
    }

    #section-ofertas {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .oferta {
        width: 40%;
    }
    
    #oferta1 .precio-oferta {
        padding-top: 50px;
    }
}