* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

#navbar {
    width: 100%;
    background-color: brown;
    position: fixed;
    top: 0px;
    left: 0px;
}

#menu-opciones {
    display: flex;
    justify-content: end;
    align-items: center;
}

#menu-opciones>li>a {
    display: block;
    font-size: 1.1em;
    color: white;
    padding: 15px 15px;
    text-align: center;
}

#menu-opciones>li>a:hover {
    background-color: rgb(219, 192, 192);
    color: black;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: midnightblue;
}

#saludo-portfolio {
    font-size: 2.2em;
    text-align: center;
    color: orangered;
}

#profesion-portfolio {
    padding: 5% 0%;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#projects {
    padding: 20px 0px;
    background-color: cadetblue;
}

#proyectos-contenedor {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

#proyectos-contenedor .project-tile:last-child {
    margin-bottom: 20px;
}

.project-tile {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
}

.proyecto-miniatura {
    width: 100%;
    height: 150px;
}

.proyecto-nombre {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-weight: bold;
}

.proyecto-nombre:hover {
    color: black;
}

.icono {
    color: darkcyan;
}

.proyecto-nombre:hover .icono{
    color: orangered;
}

#contacto {
    background-color: burlywood;
}

h2 {
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
}

.contenedor-contacto {
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-imagen {
    width: 50px;
}

footer {
    text-align: center;
    background-color: brown;
}

#copyright {
    color: white;
    padding: 20px 0px;
}

#disclaimer {
    color: white;
    padding-bottom: 20px;
}

@media (min-width: 800px) {
    
    #saludo-portfolio {
        font-size: 3.5em;
    }
    
    #profesion-portfolio {
        font-size: 2.5em;
    }

    #proyectos-contenedor {
        max-width: 1000px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}