* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgba(97, 116, 28, 0.5);
}

#main {
    width: 90%;
    min-width: 400px;
    max-width: 1200px;
    margin: auto;
    padding: 0% 3%;
    background-color: rgb(153, 163, 94);
}

#title {
    padding: 1% 0%;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.pie-de-foto, figcaption {
    text-align: center;
    font-size: 1.1em;
    padding: 1% 0%;
}

img {
    display: block;
    width: 40%;
    max-width: 100%;
    margin: auto;
}

p {
    font-size: 1.3em;
    padding: 2% 0%;
}

h2 { text-decoration: underline; }

#image { 
  width: 60%;
}