* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(36, 88, 247);
}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0em;
}

#description{
    text-align: center;
}

#survey-form{
    background-color: paleturquoise;
    width: 80%;
    min-width: 500px;
    max-width: 800px;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
}

#name-label, #email-label, #number-label {
    text-align: center;
    padding: 2% 0%;
}

#name, #email, #number {
    text-align: center;
}

p {
    text-align: center;
    margin: 2% 0%;
}

#dropdown {
    width: 30%;
    text-align: center;
    margin: auto;
}

.radio-label, .check-label {
    text-align: center;
}

#anecdota {
    resize: none;
    width: 90%;
    margin: auto;
}

#submit, #reset {
    width: 20%;
    padding: 1% 0%;
    margin: auto;
}

#submit {
    margin-top: 2%;
    margin-bottom: 1%;
}

#reset {
    margin-top: 1%;
    margin-bottom: 2%;
}